@import "tailwindcss";
@plugin "flowbite/plugin";
@source "./vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php";
@source "../views";

@theme {
    --color-slate-500: oklch(51.55% 0.029 255.437);
    --color-gray-300: oklch(87.15% 0.0123 259.82);
    --color-gray-400: oklch(70.84% 0.0221 254.96);
    --color-gray-500: oklch(52.95% 0.022 264.009);
    --color-zinc-500: oklch(52.95% 0.022 264.009);
    --color-neutral-500: oklch(52.95% 0.022 264.009);
    --color-stone-500: oklch(52.95% 0.022 264.009);
    --color-red-500: oklch(63.37% 0.221 27.549);
    --color-orange-500: oklch(69.02% 0.165 41.335);
    --color-amber-500: oklch(75.02% 0.147 68.098);
    --color-yellow-500: oklch(84.81% 0.129 89.303);
    --color-lime-500: oklch(78.66% 0.163 142.492);
    --color-green-500: oklch(67.02% 0.196 142.492);
    --color-emerald-500: oklch(64.81% 0.158 160.578);
    --color-teal-500: oklch(64.81% 0.158 181.524);
    --color-cyan-500: oklch(65.81% 0.158 197.137);
    --color-sky-500: oklch(65.81% 0.158 221.137);
    --color-blue-500: oklch(55.81% 0.158 241.137);
    --color-indigo-500: oklch(54.81% 0.158 261.137);
    --color-violet-500: oklch(54.81% 0.158 281.137);
    --color-purple-500: oklch(54.81% 0.158 301.137);
    --color-fuchsia-500: oklch(54.81% 0.158 321.137);
    --color-pink-500: oklch(54.81% 0.158 341.137);
    --color-rose-500: oklch(54.81% 0.158 1.137);
    --color-white: oklch(100% 0 0);
    --color-black: oklch(0% 0 0);

    --custom-shadow: 0px 4px 32px 0px rgba(0, 0, 0, 0.2);
}

@utility container {
    margin-inline: auto;
    max-width: 100%;
    padding-inline: 1rem;
    @media (width >= 1280px) {
        max-width: var(--breakpoint-xl);
    }
}

@layer base {
    /* button {
        @apply inline-flex items-center justify-center;
    } */
}

@layer components {
    .btn {
        @apply px-5 py-2.5 rounded-lg font-medium text-sm cursor-pointer;
    }

    .btn-primary {
        @apply bg-black text-white;
    }

    .btn-secondary {
        @apply bg-gray-100 text-gray-600 hover:bg-gray-200;
    }

    .btn-danger {
        @apply bg-red-500 text-white hover:bg-red-600;
    }
    .input-label {
        @apply text-sm font-medium text-gray-900;
    }

    .input-text {
        @apply rounded-lg border border-gray-300 bg-gray-50 p-2.5 text-sm text-gray-900 focus:border-blue-500 focus:ring-blue-500;
    }

    .input-checkbox {
        @apply h-4 w-4 rounded-sm border-gray-300 bg-gray-100 text-blue-600 focus:ring-2 focus:ring-blue-500 dark:ring-offset-gray-800 dark:focus:ring-blue-600;
    }
}

@layer utilities {
    [x-cloak] {
        display: none !important;
    }

    .custom-shadow {
        box-shadow: var(--custom-shadow);
    }

    .scrollbar-hide {
        -ms-overflow-style: none;
        scrollbar-width: none;
    }
    .scrollbar-hide::-webkit-scrollbar {
        display: none;
    }

    .scrollbar-custom {
        &::-webkit-scrollbar {
            width: 8px;
            height: 8px;
        }

        &::-webkit-scrollbar-track {
            background: #f1f1f1;
            border-radius: 4px;
        }

        &::-webkit-scrollbar-thumb {
            border-radius: 4px;
            background-color: var(--color-gray-300); /*#4a5568;*/
            border: 2px solid #f1f1f1;
        }

        &::-webkit-scrollbar-thumb:hover {
            background-color: var(--color-gray-400); /*#2d3748;*/
        }
    }

    .bg-slate-500 {
        background-color: var(--color-slate-500);
    }
    .bg-gray-500 {
        background-color: var(--color-gray-500);
    }
    .bg-zinc-500 {
        background-color: var(--color-zinc-500);
    }
    .bg-neutral-500 {
        background-color: var(--color-neutral-500);
    }
    .bg-stone-500 {
        background-color: var(--color-stone-500);
    }
    .bg-red-500 {
        background-color: var(--color-red-500);
    }
    .bg-orange-500 {
        background-color: var(--color-orange-500);
    }
    .bg-amber-500 {
        background-color: var(--color-amber-500);
    }
    .bg-yellow-500 {
        background-color: var(--color-yellow-500);
    }
    .bg-lime-500 {
        background-color: var(--color-lime-500);
    }
    .bg-green-500 {
        background-color: var(--color-green-500);
    }
    .bg-emerald-500 {
        background-color: var(--color-emerald-500);
    }
    .bg-teal-500 {
        background-color: var(--color-teal-500);
    }
    .bg-cyan-500 {
        background-color: var(--color-cyan-500);
    }
    .bg-sky-500 {
        background-color: var(--color-sky-500);
    }
    .bg-blue-500 {
        background-color: var(--color-blue-500);
    }
    .bg-indigo-500 {
        background-color: var(--color-indigo-500);
    }
    .bg-violet-500 {
        background-color: var(--color-violet-500);
    }
    .bg-purple-500 {
        background-color: var(--color-purple-500);
    }
    .bg-fuchsia-500 {
        background-color: var(--color-fuchsia-500);
    }
    .bg-pink-500 {
        background-color: var(--color-pink-500);
    }
    .bg-rose-500 {
        background-color: var(--color-rose-500);
    }
    .bg-white {
        background-color: var(--color-white);
    }
    .bg-black {
        background-color: var(--color-black);
    }

    .image-gallery {
        .image-gallery__main {
            @apply grid relative;

            & figure {
                @apply col-span-3 row-span-3 relative;
            }

            & img {
                @apply size-full rounded object-cover shadow-sm;
            }

            & button {
                @apply absolute top-1/2 transform -translate-y-1/2 rounded-full bg-black/50 p-2 text-white transition-opacity hover:bg-black/75;

                & svg {
                    @apply size-6;
                }
                &:first-of-type {
                    @apply left-2;
                }

                &:last-of-type {
                    @apply right-2;
                }
            }
        }

        .image-gallery__thumbnails {
            @apply flex gap-2 col-span-3 row-span-1 flex-row overflow-x-auto overflow-y-hidden pb-2 pr-0;

            &::-webkit-scrollbar {
                width: 8px;
                height: 8px;
            }

            &::-webkit-scrollbar-track {
                background: #f1f1f1;
                border-radius: 4px;
            }

            &::-webkit-scrollbar-thumb {
                border-radius: 4px;
                background-color: var(--color-gray-300); /*#4a5568;*/
                border: 2px solid #f1f1f1;
            }

            &::-webkit-scrollbar-thumb:hover {
                background-color: var(--color-gray-400); /*#2d3748;*/
            }

            & figure {
                @apply aspect-square shrink-0;
            }
        }

        .image-gallery__indicators {
            @apply grid grid-cols-4;

            & > div {
                @apply col-span-3 col-start-2 flex justify-center py-4;
            }

            & button {
                @apply mx-1 h-4 w-4 rounded-full focus:outline-none;
            }
        }

        @media (min-width: 480px) {
            /* xs */
            .image-gallery__main {
                @apply aspect-[3/4] grid-cols-1 grid-rows-4 gap-4;

                & figure {
                    @apply order-1;
                }
            }

            .image-gallery__thumbnails {
                @apply order-2 col-span-3 row-span-1 flex-row overflow-x-auto overflow-y-hidden pb-2 pr-0;
            }
        }

        @media (min-width: 640px) {
            /* sm */
            .image-gallery__main {
                @apply aspect-[4/3] grid-cols-4 grid-rows-1 gap-2;

                & figure {
                    @apply order-2;
                }
            }

            .image-gallery__thumbnails {
                @apply order-1 col-span-1 row-span-3 flex-col overflow-y-auto overflow-x-hidden pb-0 pr-2;
            }
        }

        @media (min-width: 768px) {
            /* md */
            .image-gallery__main {
                @apply aspect-[3/4] grid-cols-1 grid-rows-4 gap-4;

                & figure {
                    @apply order-1;
                }
            }

            .image-gallery__thumbnails {
                @apply order-2 col-span-3 row-span-1 flex-row overflow-x-auto overflow-y-hidden pb-2 pr-0;
            }
        }

        @media (min-width: 1024px) {
            /* lg */
            .image-gallery__main {
                @apply aspect-[4/3] grid-cols-4 grid-rows-1 gap-2;

                & figure {
                    @apply order-2;
                }
            }

            .image-gallery__thumbnails {
                @apply order-1 col-span-1 row-span-3 flex-col overflow-y-auto overflow-x-hidden pb-0 pr-2;
            }
        }

        @media (min-width: 1280px) {
            /* xl */
            .image-gallery__main {
                @apply aspect-[4/3] grid-cols-4 grid-rows-1 gap-2;

                & figure {
                    @apply order-2;
                }
            }
        }
    }
}
